* {
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  scrollbar-color: #4f46e5 #e0e7ff;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  background-color: #e0e7ff;
}
::-webkit-scrollbar {
  border-radius: 10px;
  width: 8px;
  height: 8px;
  background-color: #e0e7ff;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #4f46e5;
}
