MONGODB_URI=
SENDGRID_API_KEY=
SENDGRID_DAILY_MAIL_TEMPLATE_ID=
SENDGRID_PRODUCT_AVAILABLE_TEMPLATE_ID=
SENDGRID_SENDER_MAIL=
SENDGRID_ADMIN_EMAIL=Email to receive the error notifications
SECRET_UNSUBSCRIBE=
APP_BASE_URL=
BROWSERLESS_TOKEN=In case you want to use an external browserless service
URL_TO_SCRAPEIT_ERROR_COLLECTION=URL to the scrapeit collection on mongo 
BROWSER_TYPE='chromium'